.list-container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.two-column-list{
    width: 50vw;
}

.two-column-list{
    column-count: 3;
    column-gap: 20px;
    list-style: none;
}

.two-column-list li {
    break-inside: avoid;
    padding: 5px 0;
}